:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
    --text-color: rgb(255, 255, 255);
    --text-secondary-color: rgba(255, 255, 255, 0.82);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    height: 100vh;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}
