:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}

body {
    background-color: var(--bg-color);
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}