#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 1000px;
    width: calc(100% - 20px);
}

.card {
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 260px;
    width: 300px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    --mouse-x: 150px;
    --mouse-y: 130px;
}

.card:hover::before {
    opacity: 1;
}

.card::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40%);
    border-radius: inherit;
    content: '';
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: 500ms;
}
